body {
    background-color: #f0f0f0;
    font-family: Arial;
    text-align: center;
}

h1 {
    color: darkblue;
}

img {
    border-radius: 10px;
}

ul {
    list-style-type: none;
}
button {
    background-color: darkblue;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

h2 {
    color: darkgreen;
}
